@font-face {
  font-family: "Aspekta";
  src: url("./Aspekta-350.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aspekta";
  src: url("./Aspekta-500.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aspekta";
  src: url("./Aspekta-700.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
