@font-face {
  font-family: "CabinetGrotesk";
  src:
    url("./CabinetGrotesk-Medium.woff") format("woff"),
    url("./CabinetGrotesk-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CabinetGrotesk";
  src:
    url("./CabinetGrotesk-Bold.woff") format("woff"),
    url("./CabinetGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CabinetGrotesk";
  src:
    url("./CabinetGrotesk-Extrabold.woff") format("woff"),
    url("./CabinetGrotesk-Extrabold.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
