@keyframes pulseLoop {
    0% {
        opacity: 0;
        transform: scale(.25) translateZ(0);
    }

    30% {
        opacity: .4;
    }

    70% {
        opacity: 0;
    }

    80% {
        transform: scale(1) translateZ(0);
    }
}

.pulse {
    opacity: 0;
    transform-origin: center;
    animation: pulseLoop 12000ms linear infinite;
}

.pulse-1 {
    animation-delay: -4000ms;
}

.pulse-2 {
    animation-delay: -8000ms;
}

.translate-z-0 {
    transform: translateZ(0);
}
