.container-slug-blg {
  color: rgb(200 200 200);
}

.slug-blog h1,
.slug-blog h2,
.slug-blog h3,
.slug-blog h4,
.slug-blog h5,
.slug-blog h6 {
  color: white;
}

.slug-blog {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.slug-blog h1 {
  font-size: 3.25rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  font-weight: 600;
  color: rgb(217 227 234);
}

.slug-blog .slug-blog-content h2 {
  font-size: 2.2rem;
  margin: 1.5rem 0;
}

.slug-blog .slug-blog-content h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .slug-blog h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  .slug-blog .slug-blog-content h2 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    line-height: 1.4rem;
  }

  .slug-blog .slug-blog-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.2rem;
  }
}

.slug-blog .slug-blog-content p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  letter-spacing: 0.6px;
}

.slug-blog .slug-blog-content strong {
  font-weight: 500;
}

.slug-blog .slug-blog-content ul {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  list-style: disc;
  padding-left: 28px;
}

.slug-blog .slug-blog-content li {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .slug-blog .slug-blog-content p {
    font-size: medium;
    margin-bottom: 0.8rem;
    letter-spacing: normal;
  }

  .slug-blog .slug-blog-content ul {
    font-size: medium;
    padding-left: 28px;
  }

  .slug-blog .slug-blog-content li {
    font-size: medium;
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 425px) {
  .slug-blog .slug-blog-content p {
    text-align: justify;
  }
}

.slug-blog code {
  @apply bg-gray-800 text-white px-2 rounded;
  display: inline-block;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

.slug-blog pre code {
  padding: 1rem;
  margin-block: 3rem;
}

@media (max-width: 425px) {
  .slug-blog code {
    font-size: small;
  }
}

.slug-blog-content iframe {
  width: 100%;
  height: 400px;
  margin-block-end: 2rem;
}

.slug-blog-content strong code {
  font-weight: bold;
}

.slug-blog-content pre code {
  width: 100%;
}
